@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#root{
  overflow-x: hidden;
}

.buttonShadow{
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

select{
  appearance: none;
  -moz-appearance: none;
  -webkit-animation: none;
  background-repeat: no-repeat;
  background-size: calc(100% - 3px) center;
  background-size: 12px;
  background-position-x: 100%;
  background-position-y: 50%;
}