@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#root{
  overflow-x: hidden;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #E8E8E8; 
}

.buttonShadow{
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

select{
  appearance: none;
  -moz-appearance: none;
  -webkit-animation: none;
  background-repeat: no-repeat;
  background-size: calc(100% - 3px) center;
  background-size: 12px;
  background-position-x: 95%;
  background-position-y: 50%;
}

.sidebarShadow{
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.071));
}

.cardShadow{
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.059));
}

.whiteGradient{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.851) 0%, #FFFFFF 100%);
}

.dropDownShadow{
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
}